$header-height: 60px;

.header {
	height: $header-height;
}

.logo {
	float: left;
	height: $header-height;
	display: inline-block;
}

.logo img {
	margin-top: 14px;
	height: 40px;
}

.nav {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
	margin-left: 90px;
}

.nav li {
	float: left;
	height: $header-height;
}

.nav li a {
	display: block;
	line-height: $header-height;
	color: #767676;
	letter-spacing: 1px;
	margin-left: 24px;
	margin-right: 24px;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	text-decoration: none;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav li a:hover {
	color: #197cd9;
}