.header {
	position: absolute;
	top: 8px;
	right: 115px;
	z-index: 1;
}

.header span {
	display: inline-block;
	margin-right: 10px;
	color: #9AA1B5;
	font-size: 14px;
	cursor: pointer;
	width: 60px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.header span:hover {
	color: #197cd9;
}

.header .language-select {
	// display: inline-block;
	display: none;
}
